/* 📱 Ajustes visuales para toasts en móviles */
@media (max-width: 768px) {
  .p-toast {
    width: 90% !important;
    left: 50% !important;
    transform: translateX(-50%);
    top: 15px !important;
    right: auto !important;
  }

  .p-toast-message {
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .p-toast-message .p-toast-summary {
    font-size: 1rem;
    font-weight: 600;
  }

  .p-toast-message .p-toast-detail {
    font-size: 0.9rem;
  }
}